integration.json
{
  "name": "integration",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        112
      ],
      "id": "af3251c4-c847-4ebf-a686-02babea13d6d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f20d264-e842-4adc-a9c8-30730340956a",
              "name": "page",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        192
      ],
      "id": "6d5c91c5-7e72-42d7-b150-b1c065173c9f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=http://212.237.219.35:8080/students/13/cms/spares?page={{$json.page}}&size=10\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        -96
      ],
      "id": "a9303626-5532-4f84-bd5e-f25f73a2c4f7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// count = сколько получено элементов из HTTP\nconst count = items.length - 1;\n\n// page = последний элемент (из Edit Fields)\nconst page = items[items.length - 1].json.page;\n\nreturn [\n  {\n    json: { count, page },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -64
      ],
      "id": "f52e1553-d0ba-453e-8cc2-11cb74a6ac14",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        0
      ],
      "id": "72f84804-8687-41f4-bbb5-a816f11e3425",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "432d0f8c-f747-47fe-a0b7-26c7883c1861",
              "leftValue": "={{ $json.count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -64
      ],
      "id": "ae0fc90c-ddf6-4fb0-9676-881f4c9bf394",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94311dfd-1efa-40a3-b4a5-6dada7711126",
              "name": "page",
              "value": "={{ $json.page + 1 }}\n",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -352
      ],
      "id": "ea5ff884-f2b9-4074-b0c8-04348a9fadcb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst rows = items.map(i => {\n  const code = i.json.spare_code;\n  const name = i.json.spare_name;\n  const desc = i.json.spare_description;\n  const type = i.json.spare_type;\n  const status = i.json.spare_status;\n\n  // НОРМАЛИЗАЦИЯ price: 42.00 → 42, 42.50 → 42.5\n  const price = Number(i.json.price).toString();\n\n  // quantity тоже нормализуем на всякий случай\n  const quantity = Number(i.json.quantity).toString();\n\n  const updatedAt = i.json.updated_at;\n\n  return [\n    code,\n    name,\n    desc,\n    type,\n    status,\n    price,\n    quantity,\n    updatedAt\n  ].join(\";\")\n});\n\nconst csv = rows.join(\"\\n\") + \"\\n\";\n\nreturn [{ json: { csv } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        512
      ],
      "id": "268b6ece-6ad3-4541-b502-2cf3d0dd1573",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/13/report/csv",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv; charset=utf-8",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        512
      ],
      "id": "b0f2e737-34c4-4e33-9598-1df4ba1b8db6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  spare_code,\n  spare_name,\n  spare_description,\n  spare_type,\n  spare_status,\n  price,\n  quantity,\n  updated_at\nFROM historical_spares\nWHERE active = true\nORDER BY\n  CAST(SUBSTRING(spare_code FROM '([0-9]+)') AS INTEGER);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        512
      ],
      "id": "6ac42ee4-2af6-4616-b40e-f991e67386c7",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "maKB1aah9NmSIhHh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historical_spares",
          "mode": "list",
          "cachedResultName": "historical_spares"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": true,
            "spare_code": "={{ $json.spareCode }}",
            "spare_name": "={{ $json.spareName }}",
            "spare_description": "={{ $json.spareDescription }}",
            "spare_type": "={{ $json.spareType }}",
            "spare_status": "={{ $json.spareStatus }}",
            "price": "={{ $json.price }}",
            "quantity": "={{ $json.quantity }}",
            "updated_at": "={{ $json.updatedAt }}",
            "last_seen_at": "={{ $now }}"
          },
          "matchingColumns": [
            "spare_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "student_id",
              "displayName": "student_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "spare_code",
              "displayName": "spare_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "spare_name",
              "displayName": "spare_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_description",
              "displayName": "spare_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_type",
              "displayName": "spare_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_status",
              "displayName": "spare_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "inserted_at",
              "displayName": "inserted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        16
      ],
      "id": "20836363-363c-495b-8333-53f132ddafdc",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "maKB1aah9NmSIhHh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE historical_spares\nSET active = false",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        -48
      ],
      "id": "131ce33d-f77e-4835-91f8-effa1f17a6bc",
      "name": "Make inactive",
      "credentials": {
        "postgres": {
          "id": "maKB1aah9NmSIhHh",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make inactive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cd2a6a1-77a7-43a9-905b-b9f82983c44f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2476a061ad75c366a8210d7a22d46961583fa3705ff1c8df4e6a45e29055a0dd"
  },
  "id": "gSn436DI6JEUqtxs",
  "tags": []
}
