integration.json
{
  "name": "integration",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1312,
        272
      ],
      "id": "43acb31b-a44d-4339-b8a6-e39762364d3f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f20d264-e842-4adc-a9c8-30730340956a",
              "name": "page",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        544
      ],
      "id": "2b0fd6bd-5ddc-4225-92fd-56843bbe708e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=http://212.237.219.35:8080/students/13/cms/spares?page={{$json.page}}&size=10\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1072,
        240
      ],
      "id": "5a916344-aad7-4822-9a56-248be65bc748",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// count = сколько получено элементов из HTTP\nconst count = items.length - 1;\n\n// page = последний элемент (из Edit Fields)\nconst page = items[items.length - 1].json.page;\n\nreturn [\n  {\n    json: { count, page },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        288
      ],
      "id": "5d1c2536-b46a-4c0a-aef9-014a91f9e94a",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        352
      ],
      "id": "d69914a4-f011-4567-b136-38263c526a97",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "432d0f8c-f747-47fe-a0b7-26c7883c1861",
              "leftValue": "={{ $json.count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        288
      ],
      "id": "416f150f-b105-4a1a-9748-0f1a03ae5bdf",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94311dfd-1efa-40a3-b4a5-6dada7711126",
              "name": "page",
              "value": "={{ $json.page + 1 }}\n",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "6fe59bed-7c65-40d2-9457-e08009c87f09",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst rows = items.map(i => {\n  const code = i.json.spare_code;\n  const name = i.json.spare_name;\n  const desc = i.json.spare_description;\n  const type = i.json.spare_type;\n  const status = i.json.spare_status;\n\n  // НОРМАЛИЗАЦИЯ price: 42.00 → 42, 42.50 → 42.5\n  const price = Number(i.json.price).toString();\n\n  // quantity тоже нормализуем на всякий случай\n  const quantity = Number(i.json.quantity).toString();\n\n  const updatedAt = i.json.updated_at;\n\n  return [\n    code,\n    name,\n    desc,\n    type,\n    status,\n    price,\n    quantity,\n    updatedAt\n  ].join(\";\")\n});\n\nconst csv = rows.join(\"\\n\") + \"\\n\";\n\nreturn [{ json: { csv } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        864
      ],
      "id": "0b331fa2-8362-44ed-b1dd-b1d849e5976b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/13/report/csv",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv; charset=utf-8",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        864
      ],
      "id": "9158cbac-211c-4a8c-bd0f-391e8e7d2f5c",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO historical_spares (\n    student_id,\n    spare_code,\n    spare_name,\n    spare_description,\n    spare_type,\n    spare_status,\n    price,\n    quantity,\n    updated_at\n)\nVALUES (\n    13,\n    $1,\n    $2,\n    $3,\n    $4,\n    $5,\n    $6,\n    $7,\n    $8\n)\nON CONFLICT (student_id, spare_code)\nDO UPDATE SET\n    spare_name       = EXCLUDED.spare_name,\n    spare_description = EXCLUDED.spare_description,\n    spare_type       = EXCLUDED.spare_type,\n    spare_status     = EXCLUDED.spare_status,\n    price            = EXCLUDED.price,\n    quantity         = EXCLUDED.quantity,\n    updated_at       = EXCLUDED.updated_at,\n    last_seen_at     = NOW();\n",
        "options": {
          "queryReplacement": "=={{$json.spareCode}},{{$json.spareName}},{{$json.spareDescription}},{{$json.spareType}},{{$json.spareStatus}},{{$json.price}},{{$json.quantity}},{{$json.updatedAt}}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -912,
        368
      ],
      "id": "b0acc3a3-5061-4f0b-b819-dafcd2ad199b",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "maKB1aah9NmSIhHh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  spare_code,\n  spare_name,\n  spare_description,\n  spare_type,\n  spare_status,\n  price,\n  quantity,\n  updated_at\nFROM historical_spares\nWHERE student_id = 13\nORDER BY\n  CAST(SUBSTRING(spare_code FROM '[0-9]+') AS INTEGER);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1296,
        864
      ],
      "id": "fd2574f2-0ab2-4c52-939e-4954d48b017c",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "maKB1aah9NmSIhHh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "CREATE TABLE IF NOT EXISTS historical_spares (\n  id SERIAL PRIMARY KEY,\n  student_id INTEGER NOT NULL,\n  spare_code TEXT NOT NULL,\n  spare_name TEXT,\n  spare_description TEXT,\n  spare_type TEXT,\n  spare_status TEXT,\n  price NUMERIC(12,2),\n  quantity INTEGER,\n  updated_at TIMESTAMP WITH TIME ZONE,\n  inserted_at TIMESTAMP WITH TIME ZONE DEFAULT now(),\n  last_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now(),\n  CONSTRAINT uq_student_spare UNIQUE (student_id, spare_code)\n);",
        "height": 368,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        448
      ],
      "typeVersion": 1,
      "id": "361aaf93-dd43-4710-b8a4-d5ca8ff34ea9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "970aae32-3e7f-44bc-83fd-f4f74731e54f",
  "meta": {
    "instanceId": "2476a061ad75c366a8210d7a22d46961583fa3705ff1c8df4e6a45e29055a0dd"
  },
  "id": "tETuzIesB302HvNJ",
  "tags": []
}
